body::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../img/background_bapteme.jpg);
    background-size: cover;
    background-position: center 50%;
    background-repeat: no-repeat;
    /* transform: scale(0.9); */
    transform-origin:50%;
    z-index: -1;
    filter: blur(10px);
}

.icon {
    position: relative;
    /* pour positionner le pseudo-élément */
    overflow: hidden;
    /* pour ne pas que la brillance dépasse */
    background: linear-gradient(10deg, #eec9da, #d3d0d2);
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(18, 130, 119, 0.15);
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
}

.icon h3 {
    font-weight: 700;
    font-size: 1.3rem;
    color: #25262b;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

#option {
    text-decoration: none;
    display: flex;
    color: inherit;
    width: 100%;
    height: 100%;
}