body {
    background-image: url(../img/background_birthday.jpg);
    background-size: cover;
    backdrop-filter: blur(20px);
}

.icon h3 {
    font-weight: 700;
    font-size: 1.3rem;
    color: #8b048b;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}